---
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 180
AllowShortBlocksOnASingleLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
...
